<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cryptocurrency API demo</title>
</head>
<body>
    <div class ="search-container">
        <div class="form">
            <label for="search">Cryptocurrency Name:</label>
            <input type="text" class="inputbox" id="search" name="search" pattern="[a-z]{1,20}" required>
            <button class="search-button" onclick="clearContents(); closePopup(); sendRequest()">Submit</button>
            <div class="popup" id="popup">
                <div class="popup-content" id="popupContent">
                    <p id="popupMessage"></p>
                    <button onclick="closePopup()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="data grid">
        <div class="price-item">
            <div id = "price"></div>
        </div>        
        <div class="stats-item">
            <div id = "ath_stats"></div>
        </div>
        <div class="stats-item">
            <div id = "ath_price"></div>
        </div>
        <div class="stats-item">
            <div id="stats"></div>
        </div>
        <div class="stats-item">
            <div id = "ath_calc"></div>
        </div>
    </div>

    <button id="apibtn" onclick="displayAPI()">Show api output</button>
    <div class="api-output" id="api-output"></div>

    <script>
        document.getElementById('search').addEventListener('input', function () {
            let inputValue = this.value;
            // regular expression to allow lowercase letters only
            inputValue = inputValue.replace(/[^a-z]/g, '');
            // limit input to 20 chars
            inputValue = inputValue.slice(0, 20);
            this.value = inputValue;
        });
    </script>

    <script>
        function sendRequest() {
            const searchquery = document.getElementById('search').value;
            const url = `https://testaccount0.pythonanywhere.com/api/stats`;

            // asynchronous request
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ name: searchquery }),
            })
            .then(response => 
            {
                if(response.status == 400)
                    openPopup("bad request...")
                else
                    return response.json()
            })
            .then(data => {
                // display response
                if(!data || !data.name)
                    return;

                if(!data.price){
                    document.getElementById('price').innerText =
                    `unable to find any data for ${data.name}`
                    return;
                }                    

                console.log(data)

                document.getElementById('apibtn').style.display = 'flex';
                document.getElementById('api-output').style.display = 'none';

                document.getElementById('price').innerText = 
                    `${data.name}/USD: $ ${data.price}`
                document.getElementById('ath_stats').innerText = 
                    `${data.percent_decline_from_ath.toFixed(2)}% below its ATH`
                document.getElementById('ath_price').innerText = 
                        `All time high =  ${data.ath} on ${data.ath_date}`
                document.getElementById('ath_calc').innerText = 
                        `The price of ${data.name} must increase by ${Math.round(data.amount_gain_to_reach_ath)} USD to reach its ATH`                
                document.getElementById('stats').innerText = 
                        `After ATH, ${data.name} fell to ${data.low_after_ath} on ${data.low_after_ath_date}`

                document.getElementById('api-output').innerText = `API response:\n
                        ${JSON.stringify(data, null, 2)}`
            })
            .catch(error => console.error('Error:', error));
        }

        /*function fmt(price){
            if(!price)
                return
            if (price >= 1)
                return price.toFixed(2)
            return price.toPrecision(4)
        }*/
        function openPopup(message) {
            document.getElementById('popupMessage').innerText = message;
            document.getElementById('popup').style.display = 'inherit';
        }

        function closePopup() {
            document.getElementById('popup').style.display = 'none';
        }

        function displayAPI() {
            document.getElementById('apibtn').style.display = 'none';
            document.getElementById('api-output').style.display = 'flex';
        }

        function clearContents() {
            const gridItems = document.querySelectorAll('.grid-item');
            if(gridItems.length > 0){
                gridItems.forEach(gridItem => {
                    const divs = gridItem.querySelectorAll('div');
                    divs.forEach(div => div.innerText='') })
            } 
            document.getElementById('api-output').innerText = '';          
        }
    </script>
</body>
</html>
